html, body {
  & * {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
  }
}
h1, h2, h3 {

  margin: 0 auto;
}

img {
  -ms-user-select: none;
  -moz-user-select: none;
  border: 0 none;
  max-width: 100%;
  vertical-align: middle;
  user-select: none;
}

a {
  outline: none;
  text-decoration: none;
}

p {

  margin: 0;
}

* {

  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

input[type="checkbox"] {

  display: none;
  height: 0;
  opacity: 0;
  visibility: hidden;
  width: 0;

  &::-ms-check {
    outline: none;
    background-color: transparent;
  }
}
