/* Calc */
@mixin calc($property, $expression) {

  #{$property}: -webkit-calc( #{$expression} );
  #{$property}:    -moz-calc( #{$expression} );
  #{$property}:         calc( #{$expression} );
}

/* Transition */
@mixin transition($args...) {

  -webkit-transition: $args;
    -moz-transition: $args;
      -ms-transition: $args;
        transition: $args;
}

/* Rotate */
@mixin rotate($degree) {

  -webkit-transform: rotate( #{$degree}deg ); /* Chrome, Safari, Opera */
    -ms-transform: rotate( #{$degree}deg ); /* IE 9 */
      transform: rotate( #{$degree}deg );
}

/* close popup */
@mixin fixedClosePopup($parentClass, $childClass, $color) {

  .#{$parentClass} {

    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    content: '';
    font-size: 0;
    height: 62px;
    padding: 0;
    position: fixed;
    right: 25px;
    top: 25px;
    width: 62px;

    @media only screen and (max-width: 768px) {

      height: 55px;
      width: 55px;
    }

    @media only screen and (max-width: 480px) {

      height: 35px;
      right: 18.5px;
      top: 18.5px;
      width: 35px;
    }

    @media only screen
    and (max-width: 960px)
    and (orientation: landscape) {

      right: 0;
      top: 0;
      transform: scale(0.55);
    }

    &:before,
    &:after {
      content: '';
      height: 30px;
      left: 30px;
      position: absolute;
      top: 15px;
      width: 1px;

      @media only screen and (max-width: 768px) {

        left: 26.5px;
        top: 12px;
      }

      @media only screen and (max-width: 480px) {

        height: 18.5px;
        left: 16.75px;
        top: 7.5px;
      }
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    &.#{$childClass} {

      border-color: $color;

      &:hover {
        background-color: rgba($color, 0.25);
      }

      &:after,
      &:before {
        background-color: $color;
      }
    }
  }
}

@mixin transitionLeftClosedPopup() {
  left: 0;
  transition: left 0.25s ease-out;
}

@mixin text($firstClass, $secondClass, $color, $bool) {

  @if $bool == true {

    .#{$firstClass},
    .#{$secondClass} {

      color: $color;
    }
  }
  @else {

    .#{$firstClass} {

      color: $color;
    }
  }

  .#{$secondClass} {

    &:before {

      background-color: $color;
    }

    &:after {

      border-right: 1px solid $color;
      border-top: 1px solid $color;
    }
  }
}
