.simulator.simulator--heightauto.js-simulator
  .simulator__container      
    h1.title Simulador de Etiquetado de Calzado #[span.info.js-modal-open(data-modal-open="js-instructions")]
    form.form#form-shoe
      h3.option 
        span.icon 1
        p.title Información #[span.br] general 
      section.section
        .section__row
          .section__column
            label.title Partida arancelaria #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") 61.03
                option(value="2") Jurídica
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
            label.title Sub partida arancelaria #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="brands", id="brands", required)
                option(value="1") Ingrese porcentaje
                option(value="2") Ingrese porcentaje
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column.section__column--large
            label.title Descripción arancelaria #[span.red *]
            span.alert
              | There are many variations of passages of Lorem Ipsum available, but the majority 
              | have suffered alteration in some form, by injected humour, or randomised words which don't 
              | look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything 
        .section__row.section__row--column
          .section__clone.js-shoe-country-clone
            .section__column
              label.title País de destino #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
              .artifice
                select.select(name="name", id="name", required)
                  option(value="1") 61.03
                  option(value="2") Jurídica
              span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
            .section__column
              label.title.title--ghost Logo 
              span.add.js-shoe-add-country (+) Añadir Pais
        .section__row
          .section__column
            label.title Nombre comercial #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese nombre...")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
            label.title Usuario Final #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Mujer
                option(value="2") Hombre
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column.section__column--large
            p.info.red *Campos obligatorios   
      h3.option 
        span.icon 2
        p.title Materiales
      section.section
        .section__row
          .section__column
            label.title Material de Empeine o capellada
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Textil
                option(value="2") Jurídica
          .section__column
            label.title Combinación de materiales % #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="brands", id="brands", required)
                option(value="1") Ingrese porcentaje
                option(value="2") Ingrese porcentaje
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column
            label.title Material de Forro y plantilla
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Cuero Natural
                option(value="2") Jurídica
          .section__column
            label.title Combinación de materiales % #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="brands", id="brands", required)
                option(value="1") Ingrese porcentaje
                option(value="2") Ingrese porcentaje
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column
            label.title Material de Suela
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Cuero Natural
                option(value="2") Jurídica
          .section__column
            label.title Combinación de materiales % #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="brands", id="brands", required)
                option(value="1") Ingrese porcentaje
                option(value="2") Ingrese porcentaje
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column.section__column--large
            p.info.red *Campos obligatorios   
      h3.option 
        span.icon 3
        p.title Información de #[span.br] tallaje
      section.section
        .section__row
          .section__column
            label.title Talla #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Seleccione la talla
                option(value="2") Jurídica
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
            label.title.title--ghost Talla 
            a.link.js-modal-open.js-option-label(data-modal-open="js-sizes") Ver cuadro de tallas
        .section__row
          .section__column.section__column--large
            p.info.red *Campos obligatorios   
      h3.option 
        span.icon 4
        p.title Logos y sellos
        span.info.js-infostep-open(data-message="el mensaje se coloca en un data sobre el elemento")
      section.section
        .section__row
          .section__column
            label.title Marca / logo
            input.text(type="text", placeholder="Ingrese su marca")
          .section__column
            label.title.title--ghost Logo 
            span.file
              span.fake-input
              span.upload-button
                span.button-content Subir Archivo
              input.real-element.js-inputfile(type='file')
        .section__row
          .section__column.section__column--large
            label.title Código de barras o QR
            span.file.file--large
              span.fake-input
              span.upload-button
                span.button-content Subir Archivo
              input.real-element.js-inputfile(type='file')      
        .section__row.section__row--files
          .section__clone.js-shoe-seals-clone
            .section__column
              label.title Sellos voluntarios
              span.file
                span.fake-input
                span.upload-button
                  span.button-content Subir Archivo
                input.real-element.js-inputfile(type='file')
              span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
            .section__column
              label.title.title--ghost Logo 
              span.add.js-shoe-add-seals (+) Añadir Sello
        .section__row
      h3.option 
        span.icon 5
        p.title Información #[span.br] adicional 
        span.info.js-infostep-open(data-message="el mensaje se coloca en un data sobre el elemento")
      section.section
        .section__row
          .section__column
            label.title Otro adicional que desea ingresar
            input.text(type="text", placeholder="Ingrese texto...")
          .section__column
            label.title Color
            input.text(type="text", placeholder="Ingrese su color")
        .section__row
          .section__column
            label.title Seleccione el tamaño de sus etiquetas 
            .artifice.artifice--marginbottom
              select.select(name="name", id="name", required)
                option(value="1") Seleccione tamaño
                option(value="2") Jurídica
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Seleccione tamaño
                option(value="2") Jurídica
        .section__row