.content.content--heightauto.js-content
  .content__container
    h1.title Bienvenido al Simulador
    h2.subtitle Ingresa tu usuario y contraseña. Te mostraremos #[span.br] las diferentes opciones que tenemos para ti
    form.form
      .form__row
        label.title Correo
        input.text(type="email", placeholder="Ingrese su correo")
      .form__row
        label.title Contraseña
        input.text(type="password", placeholder="Ingrese contraseña")
      .form__row.form__row--button
        a.submit(href="labels.html") Enviar > 
      .form__row.form__row--button
        a.link(href="password.html") Recuperar contraseña  
      
      
    