.content.content--heightauto.js-content
  .content__container
    h1.title Gracias por su visita
    h2.subtitle.subtitle--small Su opinión es importantre para nosotros. Para poder mejorar #[span.br] cuéntenos que opina de nuestro site y pónganos una calificación
    form.form.form--large
      .form__row
        #full-stars-example-two
          .rating-group
            input#rating3-none.rating__input.rating__input--none(disabled='', checked='', name='rating3', value='0', type='radio')
            label.rating__label(aria-label='1 star', for='rating3-1')
              i.rating__icon.rating__icon--star.fa.fa-star &#9733
            input#rating3-1.rating__input(name='rating3', value='1', type='radio')
            label.rating__label(aria-label='2 stars', for='rating3-2')
              i.rating__icon.rating__icon--star.fa.fa-star &#9733
            input#rating3-2.rating__input(name='rating3', value='2', type='radio')
            label.rating__label(aria-label='3 stars', for='rating3-3')
              i.rating__icon.rating__icon--star.fa.fa-star &#9733
            input#rating3-3.rating__input(name='rating3', value='3', type='radio')
            label.rating__label(aria-label='4 stars', for='rating3-4')
              i.rating__icon.rating__icon--star.fa.fa-star &#9733
            input#rating3-4.rating__input(name='rating3', value='4', type='radio')
            label.rating__label(aria-label='5 stars', for='rating3-5')
              i.rating__icon.rating__icon--star.fa.fa-star &#9733
            input#rating3-5.rating__input(name='rating3', value='5', type='radio')
      .form__row
        label.title Comentarios
        textarea.text(placeholder="Ingrese comentarios", rows="4")
      .form__row.form__row--button
        a.submit Enviar > 