.content.content--heightauto.js-content
  .content__container
    h1.title Su opinión es importante 
    h2.subtitle Nos interesa su opinion para mejorar, #[span.br] envienos sus sugerencias y nos comunicaremos con usted
    form.form
      .form__row
        label.title Nombres
        input.text(type="text", placeholder="Ingrese nombres")
      .form__row
        label.title Apellidos
        input.text(type="text", placeholder="Ingrese apellidos")
      .form__row
        label.title Comentarios
        textarea.text(placeholder="Ingrese comentarios", rows="4")
      .form__row.form__row--button
        a.submit Enviar > 
      
      
    