.simulator.simulator--heightauto.js-simulator
  .simulator__container      
    h1.title Simulador de Etiquetado Bebidas Alcohólicas - Pisco #[span.info.info--absolute.js-modal-open(data-modal-open="js-instructions") ]
    form.form#form-drink
      h3.option 
        span.icon 1
        p.title Información #[span.br] general 
      section.section
        .section__row
          .section__column
            label.title Partida arancelaria #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") 61.03
                option(value="2") Jurídica
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
            label.title Sub partida arancelaria #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="brands", id="brands", required)
                option(value="1") 6103.10.20.00
                option(value="2") 6103.10.20.00
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column.section__column--large
            label.title Sub partida arancelaria #[span.red *]
            span.alert
              | There are many variations of passages of Lorem Ipsum available, but the majority 
              | have suffered alteration in some form, by injected humour, or randomised words which don't 
              | look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything 
        .section__row.section__row--column
          .section__clone.js-drink-country-clone
            .section__column
              label.title País de destino #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
              .artifice
                select.select(name="name", id="name", required)
                  option(value="1") 61.03
                  option(value="2") Jurídica
              span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
            .section__column
              label.title.title--ghost Logo 
              span.add.js-drink-add-country (+) Añadir Pais
        .section__row
          .section__column
            label.title Nombre comercial del producto #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese nombre comercial")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column.section__column--large
            p.info.red *Campos obligatorios   
      h3.option 
        span.icon 2
        p.title Etiqueta Frontal
      section.section
        .section__row
          .section__column
            label.title Año de la cosecha
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Textil
                option(value="2") Jurídica
          .section__column
            label.title Zona de producción #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="brands", id="brands", required)
                option(value="1") Ingrese porcentaje
                option(value="2") Ingrese porcentaje
            span.info.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column
            label.title Ingresa el “Vol Alc” (Expresado en %) #[span.red *]
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Ingrese el Volc Alc
                option(value="2") Jurídica
          .section__column
            label.title Ingresar contenido (Expresado en ml) #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="brands", id="brands", required)
                option(value="1") Ingrese porcentaje
                option(value="2") Ingrese porcentaje
            span.info.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column
            label.title Vale de ubicación de la bodega productora
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Ingrese ubicación
                option(value="2") Jurídica
          .section__column
            label.title Ingresar Región-País #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="brands", id="brands", required)
                option(value="1") Ingrese Region-País...
                option(value="2") Ingrese porcentaje
            span.info.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column
            label.title Marca / logo #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .section__row.section__row--xsmall
              .artifice.artifice--xsmall
                select.select.select--xsmall(name="name", id="name", required)
                  option(value="1") Si
                  option(value="2") No
              span.file.file--xsmall
                span.fake-input.fake-input--xsmall
                span.upload-button.upload-button--xsmall
                  span.button-content Subir Archivo
                input.real-element.js-inputfile(type='file')
            span.info.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
        .section__row
          .section__column.section__column--large
            p.info.red *Campos obligatorios   
      h3.option 
        span.icon.icon--noline 3
        p.title Etiqueta Posterior
      section.section
        .section__row
          .section__column.section__column--large
            label.title Ingresar ingredientes
            input.text.text--large(type="text", placeholder="Ingrese ingredientes")
        .section__row
          .section__column.section__column--large
            label.title Si tiene alergénicos, ingréselos
            input.text.text--large(type="text", placeholder="Ingrese alergénicos")
        .section__row
          .section__column.section__column--large
            label.title Recomendaciones de uso
            input.text.text--large(type="text", placeholder="Ingrese recomendaciones")
        .section__row
          .section__column.section__column--large
            label.title Condiciones de conservación
            input.text.text--large(type="text", placeholder="Ingrese condiciones")
        .section__row
          .section__column
            label.title Lote #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese Lote")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
            label.title Consumir preferentemente antes del #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese fecha")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column
            label.title Registro Sanitario #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese registro")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
            label.title Producido y embotellado para #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese Region-País...")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column
            label.title RUC #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese RUC")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
            label.title Dirección del Perú #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese dirección")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column
            label.title Teléfono #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese Teléfono")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
            label.title Correo/ Web #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese correo/web")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column
            label.title Importado por
            input.text(type="text", placeholder="Ingrese datos")
          .section__column
            label.title Datos del importador #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese datos del importador")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column.section__column--large
            label.title Licencia de denominación de origen #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text.text--large(type="text", placeholder="Ingrese Licencia de denominación")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column.section__column--large
            label.title Código de barras o QR #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            span.file.file--large
              span.fake-input
              span.upload-button
                span.button-content Subir Archivo
              input.real-element.js-inputfile(type='file')     
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento") 
        .section__row.section__row--files
          .section__clone.js-drink-seals-clone
            .section__column
              label.title Sellos voluntarios #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
              span.file
                span.fake-input
                span.upload-button
                  span.button-content Subir Archivo
                input.real-element.js-inputfile(type='file')
              span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
            .section__column
              label.title.title--ghost Logo 
              span.add.js-drink-add-seals (+) Añadir Sello            
        .section__row
          .section__column.section__column--large
            label.title Historial del producto o texto libre #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text.text--large(type="text", placeholder="Ingrese historial")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column.section__column--large
            label.title Adverntencias
            input.text.text--large(type="text", placeholder="Ingrese advertencias")
        .section__row