.content.content--heightauto.js-content
  .content__container.content__container--labels_option
    h1.title Simulación de etiquetas
    h2.subtitle.subtitle--small Escoja una de las opciones para iniciar una simulacion o #[span.br] cargar una etiqueta ya guardada en el sistema
    .labels
      a.labels__option(href="clothing.html")
        .image
            img(src="images/clothing.png")
        p.title Etiquetado textil
      a.labels__option(href="shoe.html")
        .image
            img(src="images/shoe.png")
        p.title Etiqueta de calzado
      a.labels__option(href="drink.html")
        .image
            img(src="images/drink.png")
        p.title Etiqueta de bebidas #[span.br] alcohólicas
      
    