.home.home--heightauto.js-home
  .home__container
    h1.title HOME
    h2.subtitle Bienvenido a XXXX, aqui conocerás site about giving information on its origins, as well.
    .home__options
      a.option(href="createprofile.html") 
        | Registrarme
      a.option.option--transparent(href="login.html")
        | Iniciar sesión >
    