.simulator.simulator--heightauto.js-simulator
  .simulator__container      
    h1.title Simulador de etiquetado textil #[span.info.js-modal-open(data-modal-open="js-instructions") ]
    form.form#form-clothing
      h3.option 
        span.icon 1
        p.title Información #[span.br] general 
      section.section
        .section__row
          .section__column
            label.title Partida arancelaria #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") 61.03
                option(value="2") Jurídica
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
            label.title Sub partida arancelaria #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="brands", id="brands", required)
                option(value="1") 6103.10.20.00
                option(value="2") 6103.10.20.00
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column.section__column--large
            label.title Sub partida arancelaria #[span.red *]
            span.alert
              | There are many variations of passages of Lorem Ipsum available, but the majority 
              | have suffered alteration in some form, by injected humour, or randomised words which don't 
              | look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything 
        .section__row.section__row--column
          .section__clone.js-clothing-country-clone
            .section__column
              label.title País de destino #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
              .artifice
                select.select(name="name", id="name", required)
                  option(value="1") 61.03
                  option(value="2") Jurídica
              span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
            .section__column
              label.title.title--ghost Logo 
              span.add.js-clothing-add-country (+) Añadir Pais
        .section__row
          .section__column
            label.title Nombre comercial del producto #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese nombre...")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
            label.title Usuario final #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") 61.03
                option(value="2") Jurídica
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row.section__row--bgred
          .section__clone.js-clothing-fiber-clone
            .section__column
              label.title Fibra * #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
              .artifice
                select.select(name="name", id="name", required)
                  option(value="1") 61.03
                  option(value="2") Jurídica
              span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
            .section__column
              label.title Ingrese porcentaje de fibra * #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
              input.text(type="text", placeholder="Ingrese porcentaje")
              span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
            .section__column.section__column--optionbuttom
              label.title.title--ghost Talla
              span.add.js-add-fiber (+) Añadir Fibra
        .section__row
          .section__column.section__column--large
            p.info.red *Campos obligatorios  
      h3.option 
        span.icon 2
        p.title #[span.desktop Información de] #[span.br] importación o fabricación
      section.section
        .section__row
          .section__column
            label.title N° de Registro Tributario del importador o cliente
            input.text(type="text", placeholder="Ingrese número")
          .section__column
            label.title Nombre / RUC de la empresa #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            input.text(type="text", placeholder="Ingrese nombre...")
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
        .section__row
          .section__column.section__column--large
            label.title Tracking Number o label
            input.text(type="text", placeholder="Ingrese datos")             
        .section__row
      h3.option 
        span.icon 3
        p.title Información de #[span.br] tallaje
      section.section
        .section__row
          .section__column
            label.title Talla #[span.red *] #[span.info-mobile.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")]
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Seleccione la talla
                option(value="2") Jurídica
            span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
          .section__column
            label.title.title--ghost Talla
            a.link.js-modal-open.js-option-label(data-modal-open="js-sizes") Ver cuadro de tallas
        .section__row
          .section__column.section__column--large
            p.info.red *Campos obligatorios  
      h3.option 
        span.icon 4
        p.title #[span.desktop Instrucciones de] #[span.br] Cuidado y conservación
        span.info.js-infostep-open(data-message="el mensaje se coloca en un data sobre el elemento")
      section.section
        .section__row
          .section__column
            label.title Lavado a mano
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Seleccionar
                option(value="2") Jurídica
          .section__column
            label.title Blanqueado 
            .artifice
              select.select(name="brands", id="brands", required)
                option(value="1") Seleccionar
                option(value="2") 6103.10.20.00
        .section__row
          .section__column
            label.title Planchado #[span.red *]
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Seleccionar
                option(value="2") Jurídica
          .section__column
            label.title Secado #[span.red *]
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Seleccionar
                option(value="2") Jurídica
        .section__row
          .section__column
            label.title Condiciones de secado
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Seleccionar
                option(value="2") Jurídica
          .section__column
            label.title Proceso de limpieza en seco
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Seleccionar
                option(value="2") Jurídica
        .section__row
          .section__column
            label.title Indique si la prenda tiene forro
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Seleccionar
                option(value="2") Jurídica
            p.info.info--margintop.red Se añadirá una etiqueta adicional al número que elija generar 
          .section__column
            label.title Indique las instrucciones de cuidado del  forro
            textarea.text(placeholder="Ingrese comentarios", rows="4")
        .section__row
      h3.option 
        span.icon.icon--linesmall 5
        p.title Logos y sellos
        span.info.js-infostep-open(data-message="el mensaje se coloca en un data sobre el elemento")
      section.section
        .section__row
          .section__column
            label.title Marca / logo
            input.text(type="text", placeholder="Ingrese su marca")
          .section__column
            label.title.title--ghost Logo 
            span.file
              span.fake-input
              span.upload-button
                span.button-content Subir Archivo
              input.real-element.js-inputfile(type='file')
        .section__row
          .section__column.section__column--large
            label.title Código de barras o QR
            span.file.file--large
              span.fake-input
              span.upload-button
                span.button-content Subir Archivo
              input.real-element.js-inputfile(type='file')      
        .section__row.section__row--files
          .section__clone.js-clothing-seals-clone
            .section__column
              label.title Sellos voluntarios
              span.file
                span.fake-input
                span.upload-button
                  span.button-content Subir Archivo
                input.real-element.js-inputfile(type='file')
              span.info.js-info-open(data-message="el mensaje se coloca en un data sobre el elemento")
            .section__column
              label.title.title--ghost Logo 
              span.add.js-clothing-add-seals (+) Añadir Sello
        .section__row
      h3.option 
        span.icon.icon--noline 6
        p.title Información #[span.br] adicional
        span.info.js-infostep-open(data-message="el mensaje se coloca en un data sobre el elemento")
      section.section
        .section__row
          .section__column
            label.title Otro adicional que desea ingresar
            input.text(type="text", placeholder="Ingrese texto...")
          .section__column
            label.title La decoracion, adornos, aplicaciones ¿Son orgánicos? 
            input.text(type="text", placeholder="Ingrese texto...")
        .section__row
          .section__column
            label.title ¿Se lavo la tela con la que se #[span.br] confecciono el producto?
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") No
                option(value="2") Si
          .section__column
            label.title Seleccione el tamaño de sus etiquetas 
            .artifice.artifice--marginbottom
              select.select(name="name", id="name", required)
                option(value="1") Seleccione tamaño
                option(value="2") Jurídica
            .artifice.artifice--marginbottom
              select.select(name="name", id="name", required)
                option(value="1") Seleccione tamaño
                option(value="2") Jurídica
            .artifice
              select.select(name="name", id="name", required)
                option(value="1") Seleccione tamaño
                option(value="2") Jurídica
        .section__row