.content.content--heightauto.js-content
  .content__container
    h1.title Mensaje de confirmación
    h2.subtitle Para el cambio de contraseña ingrese  #[span.br] su correo electrónico y le enviaremos un link
    form.form
      .form__row
        label.title Email
        input.text(type="text", placeholder="Ingrese email")
      .form__row.form__row--button
        a.submit Enviar > 