.content.content--heightauto.js-content
  .content__container
    h1.title Complete el formulario con sus datos
    h2.subtitle Luego presione el boton enviar para indicar su registro.
    form.form.form--xlarge
      .form__incolumns
        .form__column 
          .form__row
            label.title Email #[span.red *]
            input.text(type="text", placeholder="Ingrese email")
          .form__row
            label.title Contraseña #[span.red *]
            input.text(type="text", placeholder="Ingrese contraseña")
          .form__row
            label.title Tipo
            .artifice
              select.select.js-user-type(required)
                option(value="1") Persona Natural
                option(value="2") Jurídica
        .form__column.js-user-natural
          .form__row
            label.title Nombres #[span.red *]
            input.text(type="text", placeholder="Ingrese datos")
          .form__row
            label.title Apellidos #[span.red *]
            input.text(type="text", placeholder="Ingrese datos")
          .form__row
            label.title DNI  #[span.red *]
            input.text(type="text", placeholder="Ingrese datos")
        .form__column.js-user-legal.form__column--hidden
          .form__row
            label.title Razón social #[span.red *]
            input.text(type="text", placeholder="Ingrese datos")
          .form__row
            label.title RUC  #[span.red *]
            input.text(type="text", placeholder="Ingrese datos")
      .form__row
        p.info.red *Campos obligatorios   
      .form__row.form__row--button
        a.submit Enviar >