.content.content--heightauto.js-content
  .content__container
    h1.title Ingrese contraseña nueva
    h2.subtitle Ingrese su nueva contraseña en los campos indicados
    form.form
      .form__row
        label.title Contraseña nueva
        input.text(type="password", placeholder="Ingrese contraseña nueva")
      .form__row
        label.title Contraseña nueva
        input.text(type="password", placeholder="Confirme contraseña nueva")
      .form__row.form__row--button
        a.submit(href="confirm.html") Enviar > 