.content.content--heightauto.js-content
  .content__container
    h1.title Preguntas Frecuentes
    .accordion
      .accordion__row.js-btn_accordion 1. Lorem ipsum dolor sit amet
      .accordion__panel 
        p.text       
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
          | Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
          | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa 
          | quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
      .accordion__row.js-btn_accordion 1. Lorem ipsum dolor sit amet
      .accordion__panel 
        p.text       
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
          | Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
          | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa 
          | quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
      .accordion__row.js-btn_accordion 1. Lorem ipsum dolor sit amet
      .accordion__panel 
        p.text       
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
          | Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
          | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa 
          | quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
      .accordion__row.js-btn_accordion 1. Lorem ipsum dolor sit amet
      .accordion__panel 
        p.text       
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
          | Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
          | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa 
          | quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
      .accordion__row.js-btn_accordion 1. Lorem ipsum dolor sit amet
      .accordion__panel 
        p.text       
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
          | Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
          | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa 
          | quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
      .accordion__row.js-btn_accordion 1. Lorem ipsum dolor sit amet
      .accordion__panel 
        p.text       
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
          | Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus 
          | mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa 
          | quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
         
    
      
    