header#simulador__header.home
  .header__container
    .header__container__row
      .header__container__box
        a.logo(href="index.html")
          img.logo(src="images/logo.svg" alt="logo") 
        a.logo-mobile(href="index.html")
          img.logo(src="images/logo-mobile.svg" alt="logo")       
      .header__container__box
        a.contact(href="contact.html") Contáctenos
        
