header#simulador__header.shadow
  .header__container
    .header__container__row
      .header__container__box
        a.logo(href="index.html")
          img.logo(src="images/logo.svg" alt="logo") 
        a.logo-mobile(href="index.html")
          img.logo(src="images/logo-mobile.svg" alt="logo") 
      .header__container__box
        .labels
          a.option.option--showline(href="clothing.html") Simulador de #[span.br] Etiquetado textil
          a.option(href="shoe.html") Simulador de #[span.br] Etiqueta de calzado
          a.option.option--nomargin.js-drink Simulador de etiquetado #[span.br] bebidas alcohólicas
          .menu-drink.js-drink-options
            a.sub-option(href="pisco.html")
              span.text Pisco
            a.sub-option(href="drink.html")
              span.text Otras bebidas
      .header__container__box
        a.contact(href="contact.html") Contáctenos
        .user.js-user
          img.avatar(src="images/avatar.png") 
          p.name Hola Luis Naval
          .menu.js-menu-options
            a.option(href="editprofile.html")
              span.text Editar Perfil
            a.option(href="rating.html")
              span.text Calificar Site
            a.option(href="faq.html")
              span.text Pregunta Frecuentes
            a.option.option--mobile(href="contact.html")
              span.text Contáctenos              
            a.option
              span.text(href="index.html") Cerrar Sesión
          .hamburguer
            span
            span
            span
    .header__container__labels
      a.option(href="clothing.html") Etiquetado #[br] textil
      a.option(href="shoe.html") Etiquetado #[br] de calzado
      a.option.option--underline.js-drink Etiquetado #[br] de bebidas
      .menu-drink.js-drink-options
        a.sub-option(href="pisco.html")
          span.text Pisco
        a.sub-option(href="drink.html")
          span.text Otras bebidas
    .header__container__options
      a.option Descargar
      a.option Limpiar
      a.option.js-modal-open.js-option-label(data-modal-open="js-savetag") Guardar
      a.option.js-modal-open.js-option-label(data-modal-open="js-listtag") Listado