header#simulador__header.shadow
  .header__container 
    .header__container__row
      .header__container__box
        a.logo(href="index.html")
          img.logo(src="images/logo.svg" alt="logo") 
        a.logo-mobile(href="index.html")
          img.logo(src="images/logo-mobile.svg" alt="logo")         
      .header__container__box
        a.contact(href="contact.html") Contáctenos
        .user.js-user
          img.avatar(src="images/avatar.png") 
          p.name Hola Luis Naval
          .menu.js-menu-options
            a.option(href="editprofile.html")
              span.text Editar Perfil
            a.option(href="rating.html")
              span.text Calificar Site
            a.option.option--mobile(href="contact.html")
              span.text Contáctenos   
            a.option(href="index.html")
              span.text Cerrar Sesión
          .hamburguer
            span
            span
            span