.simulador__modal.simulador__modal--showdefault.js-instructions#instructions
    .modal__container.modal__container--instructions
      .modal__header
        span.close.js-modal-close(data-modal-close="js-instructions")
      .modal__body
        p.title Instrucciones de uso
        .video
         iframe(width='560' height='315' src='https://www.youtube.com/embed/70salrljlLg' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')

.simulador__modal.js-savetag#savetag
    .modal__container.modal__container--savetag
      .modal__header
        span.close.js-modal-close(data-modal-close="js-savetag")
      .modal__body
        p.title Guardar etiqueta
        form.form
          .form__row
            label.title Nombre
            input.text(type="email", placeholder="Ingrese texto...")
          .form__row
            label.title Categoría 
            input.text(type="password", placeholder="Ingrese texto...")
          .form__row.form__row--center
            a.submit.js-modal-close.js-modal-open(href="#" data-modal-close="js-savetag" data-modal-open="js-savetagsuccess") Guardar 
            a.inline.js-modal-close(href="#" data-modal-close="js-savetag") Cancelar

.simulador__modal.simulador__modal--savetagsuccess.js-savetagsuccess#savetagsuccess
    .modal__container.modal__container--savetag
      .modal__header
        span.close.js-modal-close(data-modal-close="js-savetagsuccess")
      .modal__body
        p.title Etiqueta Guardada
        .label

.simulador__modal.js-generatedtag#generatedtag
    .modal__container.modal__container--generatedtag
      .modal__header
        span.close.js-modal-close(data-modal-close="js-generatedtag")
      .modal__body
        p.title Etiqueta Generada
        .generated
          .images
          .buttons
            a.button Descargar
            a.button.js-modal-open.js-modal-close(data-modal-open="js-savetag" data-modal-close="js-generatedtag") Grabar

.simulador__modal.js-armed#armed
    .modal__container.modal__container--armed
      .modal__header
        span.close.js-modal-close(data-modal-close="js-armed")
      .modal__body
        p.title Armado de etiqueta
        .armed
          .info
            .images
            .description
              p.text #[span.title País:] #[span.name Perú ]
              p.text #[span.title Nombre Comercial:] #[span.name Zapato Dama Calzado ]
              p.text #[span.title Logo:] #[span.name ]
          .buttons
            a.button.js-modal-close.js-modal-open(href="#" data-modal-close="js-armed" data-modal-open="js-generatedtag") Generar

.simulador__modal.js-listtag#listtag
  .modal__container.modal__container--listtag
    .modal__header
      span.close.js-modal-close(data-modal-close="js-listtag")
    .modal__body
      p.title Listado de etiquetas guardadas
      .list
        table.js-dt-listtag.display(style='width:100%')
          thead
            tr
              th Fecha 
              th Categoría
              th Nombre
              th 
          tbody
            tr
              td 06/Junio/2019
              td Chompa
              td Chompa 6
              td 
                img.edit(src="images/edit.png")
                img.trash(src="images/trash.png")
            tr
              td 07/Junio/2019
              td Chompa
              td Chompa 5
              td 
                img.edit(src="images/edit.png")
                img.trash(src="images/trash.png")
            tr
              td 08/Junio/2019
              td Chompa
              td Chompa 4
              td 
                img.edit(src="images/edit.png")
                img.trash(src="images/trash.png")
            tr
              td 09/Junio/2019
              td Chompa
              td Chompa 3
              td 
                img.edit(src="images/edit.png")
                img.trash(src="images/trash.png")
            tr
              td 10/Junio/2019
              td Chompa
              td Tokyo
              td 
                img.edit(src="images/edit.png")
                img.trash(src="images/trash.png")
            tr
              td 11/Junio/2019
              td Chompa
              td Chompa 2
              td 
                img.edit(src="images/edit.png")
                img.trash(src="images/trash.png")
            tr
              td 12/Junio/2019
              td Chompa
              td Chompa 1
              td 
                img.edit(src="images/edit.png")
                img.trash(src="images/trash.png")

.simulador__modal.js-info#info
    .modal__container.modal__container--savetag
      .modal__header
        span.close.js-modal-close(data-modal-close="js-info")
      .modal__body
        p.message.js-message There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words

.simulador__modal.js-sizes#sizes
    .modal__container.modal__container--savetag
      .modal__header
        span.close.js-modal-close(data-modal-close="js-sizes")
      .modal__body
        p.title Listado de Tallas
        .list
          table.js-dt-lissizes.display(style='width:100%')
            thead
              tr
                th Tipo de Talla 
            tbody
              tr
                td Talla 1
              tr
                td Talla 2
              tr
                td Talla 3
              tr
                td Talla 4
              tr
                td Talla 5
              tr
                td Talla 6
              tr
                td Talla 7