.content {
  background-color: transparent;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%; 
  z-index: -1;  
  // padding-top: 100px;
  // padding-bottom: 34px;
  // min-height: 768px;

  &--heightauto {
    height: auto;
    position: relative;
    z-index: 0;
  }

  &__container {
    max-width: 1024px;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    
    &--labels_option {
      width: 95%;
    }
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 304px;
    width: 100%;
    padding-top: 31px;

    @media screen and (max-width: 480px){
      max-width: 100%;
    }

    &--large {
      padding-top: 10px;
      max-width: 445px;
    }

    &--xlarge {
      max-width: 636px;

      @media screen and (max-width: 960px){
        max-width: 430px;
      }

      @media screen and (max-width: 480px){
        max-width: 100%;
      }
    }

    &__incolumns {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media screen and (max-width: 960px){
        flex-direction: column;
      }
    }

    &__column {
      width: 100%;
      max-width: 274px;

      @media screen and (max-width: 960px){
        max-width: 100%;
      }

      &--hidden {
        display: none;
      }
    }

    &__row {
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 100%;
      padding-bottom: 24px;
      
      @media screen and (max-width: 960px){
        padding-bottom: 14px;
      }

      &--button {
        padding-top: 20px;
        align-items: center;

        @media screen and (max-width: 960px){
          padding-bottom: 60px;
        }
      }

      .artifice {
        position: relative;
  
        &:before {
          position: absolute;
          content: '';
          background-color: #0063AB;
          width: 3px;
          height: 13px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 13px;
          right: 15px;
          z-index: 2;
          background: #686B6F;
          mix-blend-mode: normal;
        }
  
        &:after {
          position: absolute;
          content: '';
          background-color: #0063AB;
          width: 3px;
          height: 13px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 13px;
          right: 22px;
          z-index: 2;
          background: #686B6F;
          mix-blend-mode: normal;
        }
      }
      
      input.text {
        background: #FFFFFF;
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        border-radius: 6px;
        color: #959595;
        width: 100%;
        display: block;
        height: 36px;
        font-size: 18px;
        font-family: "Signika-Regular";        
        font-weight: normal;
        padding-left: 10px;
        outline: none;
        position: relative;

        &--hidden {
          display: none;
        }
      }

      select.select {
        background: #FFFFFF;
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        border-radius: 6px;
        color: #959595;
        width: 100%;
        display: block;
        height: 36px;
        font-size: 18px;
        font-family: "Signika-Regular";        
        font-weight: normal;
        padding-left: 10px;
        outline: none;
        position: relative;        
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      textarea.text {
        background: #FFFFFF;
        border: 1px solid #D4D4D4;
        box-sizing: border-box;
        border-radius: 6px;
        color: #959595;
        width: 100%;
        display: block;
        font-size: 18px;
        font-family: "Signika-Regular";        
        font-weight: normal;
        padding-left: 10px;
        outline: none;
        resize: none;
        
      }

      label.title {
        font-family: "Signika-Regular";
        font-size: 14px;
        font-style: normal;
        font-weight: normal;  
        color: #333333;
        width: 100%;
        padding-bottom: 10px;
        display: block;
        outline: none;
      }
      .info {
        font-family: "Signika-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
      }

      .red {
        color:#EB5757;
      }

      a.submit {
        width: 190px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        align-content: center;
        color: #FFF;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        font-family: "Signika-Regular";
        font-weight: normal;
        font-weight: 400;
        outline: none;
        background: linear-gradient(180deg, #A71810 0%, rgba(235, 49, 39, 0.980438) 22.4%, #D5221E 81.77%, rgba(233, 50, 40, 0.963542) 99.98%, rgba(124, 122, 122, 0.0275298) 99.99%, rgba(121, 124, 124, 0) 100%, #620E0A 100%);
      }
    
    
    }
    
  }

  .labels {
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    max-width: 830px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;

    @media screen and (max-width: 767px){
      flex-direction: column;
      align-items: center;
      padding-bottom: 50px;
    }

    &__option {
      position: relative;

      @media screen and (max-width: 767px){
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .image {
      width: 231px;
      height: 201px;
      overflow: hidden;
      border-radius: 16px;

      img {
        transition: 0.2s;

        &:hover {        
          transform: scale(1.1)
        }
      }      
    }  

    p.title {
      font-family: "Signika-Regular";
      color:#50535A;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      padding-top: 30px;

      @media screen and (max-width: 767px){
        font-family: "Signika-Regular";
        color: #50535A;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        position: absolute;
        bottom: 14px;
        color: #FFF;
        width: 231px;
      }
    }
  }

  .accordion {
    padding-top: 70px;
    padding-bottom: 40px;
    max-width: 958px;
    width: 100%;

    @media screen and (max-width: 960px){
      padding-top: 40px;
    }

    &__row {
      background-color: #F3F3F3;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 18px;
      font-family: "Signika-Regular";
      margin-bottom: 6px;
    }

    &__panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
      font-family: Signika;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      font-family: "Signika-Regular";
      text-align: left;

      p.text {
        padding: 35px 15px;
        color: #50535A;
      }
    }

    .active, &__row:hover {
      background-color: #ED2F25;
      color: #FFFFFF;

      &:after {
        color: #FFFFFF;
      }
    }
    
    &__row:after {
      content: '\002B';
      color: #50535A;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }
  }

  h1.title {
    font-size: 44px;
    font-family: "Signika-Regular";
    color: #50535A;
    font-weight: 600;
    padding-bottom: 15px;

    @media screen and (max-width: 960px){
      font-size: 32px;
      line-height: 34px;
      padding-top: 60px;
    }
  }

  h2.subtitle {
    font-size: 20px;
    font-family: "Signika-Regular";
    color: #50535A;
    line-height: 22px;
    font-weight: normal;
    width: 100%;
    max-width: 520px;

    @media screen and (max-width: 960px){
      font-size: 16px;
      line-height: 16px;
    }

    &--small {
      font-size: 18px;
    }

    span.br {
      display: block;

      @media screen and (max-width: 960px){
        display: none;
      }
    }

  }

  span.br {
    display: block;
  }

  a.link {
    color: #1129FF;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
  }
}
  