footer#simulador__footer {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #D1D1D1;
  height: 34px;

  .footer_home__container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

      p.text {    
          color: #50535A;
          font-size: 12px;
          font-family: 'Roboto-Regular';
      }
  }  
}

footer#simulador__footer.auto {
  position: relative;
}

footer#simulador__footer_home {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer_home__container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

      p.text {    
          color: #FFF;
          font-size: 12px;
          padding-bottom: 20px;
          font-family: 'Roboto-Regular';
      }
  }  
}