header#simulador__header {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../images/bg-header.png);

  @media screen and (max-width: 960px){
    background-image: none;
    height: auto;
  }

  .header__container {
    padding-top: 20px;
    width: 95%;
    margin: 0 auto;

    @media screen and (max-width: 960px){
      padding-top: 0;
      width: 100%;
    }

    &__box {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      a.logo {
        display: block;
      
        @media screen and (max-width: 960px){
          display: none;
        }
      }

      a.logo-mobile {
        display: none;
      
        @media screen and (max-width: 960px){
          display: block;
        }
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 960px){
        background-color: #ED2F25;
        padding: 10px 20px;
      }     
      
      a.contact {
        color: #ED2F25;
        background-color: #FFF;
        font-family: 'Signika-Regular';
        font-size: 18px;
        padding: 10px 20px;
        border-radius: 20px;

        @media screen and (max-width: 1200px){
          font-size: 14px;
        }

        @media screen and (max-width: 960px){
          display: none;
        }
      }
      
      .user {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 50px;
        cursor: pointer;
        position: relative;

        @media screen and (max-width: 1200px){
          padding-left: 10px;
        }

        img {
          @media screen and (max-width: 960px){
            display: none;
          }
        }

        p.name {
          font-family: 'Signika-Regular';
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #FFFFFF;
          padding-left: 10px;
          letter-spacing: 1px;

          @media screen and (max-width: 1200px){
            padding-left: 6px;
            letter-spacing: 0;
          }

          @media screen and (max-width: 960px){
            display: none;
          }
        }
      }

      .menu {
        position: absolute;
        background-color: #FFFFFF;
        border-radius: 4px;
        width: 188px;
        padding: 6px 0;
        padding-left: 20px;
        top: 30px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        display: none;
        right: 0;
        z-index: 10;

        a.option {
          padding: 15px 0;
          position: relative;

          &:before {
            content: "";
            width: 116px;
            height: 1px;
            background-color: #EAEAEA;
            bottom: 0;
            position: absolute;
            left: -20px;
          }

          &:last-child {
            &:before {
              content: "";
              width: 0;
              height: 0;
              background-color: #EAEAEA;
              bottom: 0;
              position: absolute;
              left: -20px;
            }  
          }

          &--mobile {
            display: none;
            @media screen and (max-width: 960px){
              display: block;
            }
          }
        }

        span.text {
          font-family: 'Roboto-Regular';
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color:#333333;
        }
      }

      .hamburguer {
        display: none;

        @media screen and (max-width: 960px){
          display: block;
        }

        span {
          width: 28px;
          height: 3px;
          display: block;
          background-color: #FFF;
          transition: -webkit-transform 0.25s ease-out;
          transition: transform 0.25s ease-out;
          transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;

          &:nth-child(2){
            margin: 5px 0;
          }
        }
      }

      .labels {
        display: flex;
        flex-direction: row;
        position: relative;

        @media screen and (max-width: 960px){
          display: none;
        }

        a.option {
          font-family: "Signika-Regular";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          text-align: center;
          cursor: pointer;
          color:#FFFFFF;
          margin-right: 80px;
          letter-spacing: 1px;
          position: relative;
          line-height: 16px;

          @media screen and (max-width: 1200px){
            font-size: 14px;
            margin-right: 40px;
            line-height: 14px;
          }          

          &:last-child {
            margin-right: 0;
          }

          &:before {
            position: absolute;
            width: 0;
            height: 4px;
            content: "";
            background-color: #FFF;
            bottom: -10px;
            left: 0;
            border-radius: 100px;
            transition: 0.5s;
          }
          
          &:hover {

            &:before {
              width: 100%;
            }
          }

          &--showline {
            &:before {
              position: absolute;
              width: 100%;
              height: 4px;
              content: "";
              background-color: #FFF;
              bottom: -10px;
              left: 0;
              border-radius: 100px;
              transition: 0.3s;
            }
          }

          &--nomargin {
            margin-right: 0;
          }
        }
        
        .menu-drink {
          position: absolute;
          background-color: #ED2F25;
          border-radius: 4px;
          width: 188px;
          padding: 6px 0;
          top: 50px;
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
          flex-direction: column;
          display: none;
          right: 0;
          z-index: 10;

          @media screen and (max-width: 1200px){
            width: 170px;
          }

          
  
          a.sub-option {
            padding: 15px 0;
            position: relative;            
            padding-left: 20px;
  
            &:before {
              content: "";
              width: 98%;
              height: 1px;
              background-color: #EAEAEA;
              bottom: 0;
              position: absolute;
              left: 0;
            }
  
            &:last-child {
              &:before {
                content: "";
                width: 0;
                height: 0;
                background-color: #EAEAEA;
                bottom: 0;
                position: absolute;
                left: -20px;
              }  
            }
          }
  
          span.text {
            font-family: 'Signika-Regular';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 1px;
          }
        }
      }

    }  
  }

  span.br {
    display: block;
  }
}

header#simulador__header.home {

  // @media screen and (max-width: 960px){
  //   height: auto;
  //   position: relative;
  // }
}

header#simulador__header.shadow {
  height: 156px;
  background-image: url(../images/bg-header-shadow.png);
  position: relative;

  @media screen and (max-width: 960px){
    background-image: none;
    height: auto;
  }

  .header__container {

    &__labels {
      display: none;
      background-color: #ED2F25;
      border-top: #FFF 1px solid;

      @media screen and (max-width: 960px){
        display: flex;
      }

      a.option {
        width: 33.3%;
        font-family: "Signika-Regular";
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 17px;
        color:#FFF;
        text-align: center;        
        padding: 19px 0;
        position: relative;

        &--underline {
          &:before {
            content: "";
            height: 4px;
            width: 70%;
            position: absolute;
            bottom: 0;
            background-color: #FFF;
            border-radius: 100px;
            left: 13%;
          }
        }
      }

      .menu-drink {
        position: absolute;
        background-color: #ED2F25;
        border-radius: 4px;
        width: 188px;
        padding: 6px 0;
        top: 126px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        display: none;
        right: 0;
        z-index: 10;

        @media screen and (max-width: 1200px){
          width: 170px;
        }

        @media screen and (max-width: 768px){
          width: 230px;
        }

        @media screen and (max-width: 375px){
          width: 100%;
        }

        a.sub-option {
          padding: 15px 0;
          position: relative;            
          padding-left: 20px;

          &:before {
            content: "";
            width: 98%;
            height: 1px;
            background-color: #EAEAEA;
            bottom: 0;
            position: absolute;
            left: 0;
          }

          &:last-child {
            &:before {
              content: "";
              width: 0;
              height: 0;
              background-color: #EAEAEA;
              bottom: 0;
              position: absolute;
              left: -20px;
            }  
          }
        }

        span.text {
          font-family: 'Signika-Regular';
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #FFFFFF;
          letter-spacing: 1px;
        }
      }
    } 

    &__options {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 55px;

      @media screen and (max-width: 960px){
        margin-top: 0;
        padding-top: 18px;
        padding-bottom: 25px;
        justify-content: center;
      }
  
      .option {         
        font-family: "Signika-Regular";    
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1px;
        cursor: pointer;
        margin-right: 18px;
        position: relative;

        @media screen and (max-width: 960px){
          font-size: 14px;
          color: #50535A;
          letter-spacing: 0;
          margin-right: 22px;
        }

        &:last-child {
          margin-right: 0;
        }

        &:before {
          position: absolute;
          width: 0;
          height: 4px;
          content: "";
          background-color: rgba(0, 0, 0, 0.75);
          bottom: -5px;
          left: 0;
          border-radius: 100px;
          transition: 0.5s;
        }
        
        &:hover {

          &:before {
            width: 100%;
          }
        }

        &--underline {
          &:before {
            position: absolute;
            width: 100%;
            height: 4px;
            content: "";
            background-color: rgba(0, 0, 0, 0.75);
            bottom: -5px;
            left: 0;
            border-radius: 100px;
            transition: 0.5s;
          }
        }
      }
    }
  }  
} 