.home {
  background-color: transparent;
  background-image: url(../images/bg-home.png);
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center; 
  position: fixed;
  width: 100%;
  z-index: -1;

  &--heightauto {
    height: auto;
    position: relative;
    z-index: 0;
  }
  
  @media screen and (max-width: 768px){    
    background-position-x: -169px;
    background-size: cover;
  }

  @media screen and (max-width: 360px){    
    background-image: url(../images/bg-home-mobile.png);
    background-position: center
  }
 
  &__container {
    max-width: 1366px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
  }

  h1.title {
    color: #FFF;
    font-size: 50px;
    font-family: "Signika-Regular";
    font-weight: 600;
    max-width: 600px;
    position: relative;  
    padding-bottom: 15px;  
    width: 90%;
  }

  h2.subtitle {
    color: #FFF;
    font-size: 20px;
    font-family: "Signika-Regular";
    font-weight: normal;
    max-width: 440px;
    position: relative;    
    width: 90%;    
    padding-bottom: 58px;  

    @media only screen and (min-device-width: 480px) 
                   and (max-device-width: 667px) 
                   and (orientation: landscape) {
      padding-bottom: 15px;               
    }
  }

  &__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    max-width: 470px;
    width: 100%;

    @media screen and (max-width: 768px){
      width: 95%;
    }

    a.option {
      width: 190px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      align-content: center;
      color: #FFF;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      font-family: "Signika-Regular";
      font-weight: normal;
      font-weight: 400;
      background: linear-gradient(180deg, #A71810 0%, rgba(235, 49, 39, 0.980438) 22.4%, #D5221E 81.77%, rgba(233, 50, 40, 0.963542) 99.98%, rgba(124, 122, 122, 0.0275298) 99.99%, rgba(121, 124, 124, 0) 100%, #620E0A 100%);
      
      @media screen and (max-width: 420px){
        width: 48%;
      }

      &--transparent {
        background: linear-gradient(180deg, rgba(167, 24, 16, 0.6) 0%, rgba(235, 49, 39, 0.588263) 22.4%, rgba(213, 34, 30, 0.6) 81.77%, rgba(233, 50, 40, 0.578125) 99.98%, rgba(124, 122, 122, 0.0165179) 99.99%, rgba(121, 124, 124, 0) 100%, rgba(98, 14, 10, 0.6) 100%);
      }
    }
  }
}
