.simulador__modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: transparent;
    z-index: 1060;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(0,0,0,0.8);
    width: auto;

    &--showdefault {
        display: flex;
    }
 
    .modal__container {
        background-color: #FFF;
        max-width: 600px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid 1px #979797;
        -webkit-animation: swal2-show .3s;
        animation: swal2-show .3s;
        position: relative;
        border-radius: 8px;
        margin: auto 0;

        &--savetag {
            max-width: 384px;
        }

        &--info {
            max-width: 400px;
        }

        &--savetagsuccess {
            max-width: 384px;
        }

        &--instructions {
            max-width: 653px;
        }

        &--listtag {
            max-width: 720px;
        }

        &--armed {
            max-width: 835px;
        }
    }

    .modal__header {
        width: 100%;
        display: block;
        height: 45px;
        position: relative;

        span.close {
            position: absolute;
            cursor: pointer;
            top: 24px;
            right: 40px;

            &:before {
                content: "";
                height: 4px;
                width: 24px;
                background-color: #6c7077;
                position: absolute;
                border-radius: 5px;                
                transform: rotate(45deg);
            }

            &:after {
                content: "";
                height: 4px;
                width: 24px;
                background-color: #6c7077;
                position: absolute;
                border-radius: 5px;
                transform: rotate(-45deg);
            }
        }
    }

    .modal__body {
        display: block;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;

        p.title {
            font-family: "Signika-Regular";  
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            color: #50535A;
            display: block;
            padding-bottom: 30px;

            @media screen and (max-width: 450px){
                max-width: 252px;
                font-size: 24px;            
            }
        }

        p.message {
            font-size: 18px;
            font-family: "Signika-Regular";
            color: #50535A;
            line-height: 22px;
            font-weight: normal;
            width: 75%;

            @media screen and (max-width: 960px){
                font-size: 16px;
                line-height: 16px;
            }
        }

        .form {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 95%;

            @media screen and (max-width: 360px){    
                width: 85%;
            }

            &__row {
                width: 100%;
                text-align: left;
                padding-bottom: 20px;
                max-width: 283px;

                &--center {
                    display: flex;
                    justify-content: space-around;
                    align-items:center;
                    padding-bottom: 0;
                }
            }

            label.title {
                font-family: "Signika-Regular";
                font-size: 14px;
                font-style: normal;
                font-weight: normal;  
                color: #333333;
                width: 100%;
                padding-bottom: 7px;
                display: block;
                outline: none;
                text-align: left;
            }

            input.text {
                background: #FFFFFF;
                border: 1px solid #D4D4D4;
                box-sizing: border-box;
                border-radius: 6px;
                color: #959595;
                width: 100%;
                display: block;
                height: 36px;
                font-size: 16px;
                font-family: "Signika-Regular";        
                font-weight: normal;
                padding-left: 10px;
                outline: none;
                position: relative;
            }

            a.submit {
                width: 50%;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                align-content: center;
                color: #FFF;
                font-size: 16px;
                text-align: center;
                cursor: pointer;
                font-family: "Signika-Regular";
                font-weight: normal;
                font-weight: 400;
                outline: none;
                background: linear-gradient(180deg, #A71810 0%, rgba(235, 49, 39, 0.980438) 22.4%, #D5221E 81.77%, rgba(233, 50, 40, 0.963542) 99.98%, rgba(124, 122, 122, 0.0275298) 99.99%, rgba(121, 124, 124, 0) 100%, #620E0A 100%);
              }

              a.inline {
                  color:#ED2F25;
                  text-decoration: underline;
                  width: 50%;
                  text-align: center;
              }
        }

        .video {
            position: relative;
            padding-bottom: 56.25%;
            height: 0;
            overflow: hidden;
            width: 90%;
            // @media screen and (max-width: 767px){
            //     flex-direction: column;
            //     align-items: center;
            //     padding-bottom: 50px;
            //   }

            iframe{
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        .label {
            width: 80%;
            background-color: #C4C4C4;
            height: 162px;
            border-radius: 6px;
        }

        .list {
            width: 90%;
            
            .dataTables_wrapper {
                overflow: auto;
            }

            .no-footer{
                border-bottom: 0px solid #111;
            }

            .dataTables_paginate {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 30px;
                
                .paginate_button {
                    height: 36px;
                }

                a {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    border: 1px solid #DEDEDE;
                    color: #999999 !important;
                }

                a.previous, a.next {
                    font-size: 0px;
                    width: 35px;
                    height: 36px;
                    background-color: #DEDEDE;
                    position: relative;
                }

                a.previous {
                    &:before {
                        content: "";
                        height: 4px;
                        width: 13px;
                        background-color: #999999;
                        position: absolute;
                        border-radius: 5px;
                        transform: rotate(40deg);
                        bottom: 12px;
                        left: 9px;
                    
                    }
        
                    &:after {
                        content: "";
                        height: 4px;
                        width: 13px;
                        background-color: #999999;
                        position: absolute;
                        border-radius: 5px;
                        transform: rotate(-40deg);
                        left: 9px;
                        top: 12px;
                    }
                }

                a.next {
                    &:before {
                        content: "";
                        height: 4px;
                        width: 13px;
                        background-color: #999999;
                        position: absolute;
                        border-radius: 5px;
                        transform: rotate(-40deg);
                        bottom: 12px;
                        left: 9px;
                    
                    }
        
                    &:after {
                        content: "";
                        height: 4px;
                        width: 13px;
                        background-color: #999999;
                        position: absolute;
                        border-radius: 5px;
                        transform: rotate(40deg);
                        left: 9px;
                        top: 12px;
                    }
                }

                a.disabled {
                    cursor: not-allowed;
                    pointer-events: none;
                    opacity:1; 
                    background-color: #dedede05;

                    &:before {  
                        background-color: #d6d3d3;                  
                    }
        
                    &:after {
                        background-color: #d6d3d3;
                    }
                }
            }

            .dataTables_filter {
                float: left;
                padding-bottom: 15px;
                margin-left: -7px;

                input {
                    background: #FFFFFF;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    width: 180px;
                    height: 31px;
                    padding: 0 10px;
                    font-size: 16px;
                    color: #50535A;
                    font-family: "Signika-Regular";  
                    font-style: normal;
                }

            }
            
            table {
                border-collapse: separate;
                border-spacing: 0 4px;
            }

            thead {
                tr {
                    background-color: #D5221E;                
                    border-radius: 6px;
                }
                th {
                    font-weight: 100;
                    font-family: "Signika-Regular";  
                    font-style: normal;
                    font-size: 15px;
                    color: #FFF;
                    border-bottom: 0px solid #111;
                    padding: 15px 18px;                    

                    &:first-child {
                        border-radius: 6px 0 0 6px;
                    }

                    &:last-child {
                        border-radius: 0 6px 6px 0;
                    }
                }
            }

            tbody {
                tr {
                    background-color: #F4F4F4;                
                    border-radius: 6px;
                }

                td {
                    padding: 15px 18px;   
                    font-family: "Signika-Regular";  
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: #333333; 
                    border-top: 0px solid #ddd;

                    &:first-child {
                        border-radius: 6px 0 0 6px;
                    }

                    &:last-child {
                        border-radius: 0 6px 6px 0;
                    }
                }

                .edit, .trash {
                    cursor: pointer;
                    max-width: 18px;
                }
                .edit {
                    margin-right: 10px;

                    @media screen and (max-width: 450px){
                        margin-right: 0;           
                    }
                }
            }
        }

        .generated {
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .images {
                width: 100%;
                background-color: #C4C4C4;
                height: 162px;
                border-radius: 6px;
            }

            .buttons {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: row;
                margin-top: 30px;

                a.button {
                    max-width: 150px;
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    align-content: center;
                    color: #FFF;
                    font-size: 16px;
                    text-align: center;
                    cursor: pointer;
                    font-family: "Signika-Regular";
                    font-weight: normal;
                    font-weight: 400;
                    outline: none;
                    background: linear-gradient(180deg, #A71810 0%, rgba(235, 49, 39, 0.980438) 22.4%, #D5221E 81.77%, rgba(233, 50, 40, 0.963542) 99.98%, rgba(124, 122, 122, 0.0275298) 99.99%, rgba(121, 124, 124, 0) 100%, #620E0A 100%);
                
                    &:first-child {
                        margin-right: 20px;
                    }
                }
            }
        }

        .armed {
            width: 80%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            
            .info {
                display: flex;
                flex-direction: row;

                @media screen and (max-width: 960px){
                    flex-direction: column;
                }
            }

            .images {
                width: 50%;
                background-color: #C4C4C4;
                height: 162px;
                border-radius: 6px;
                
                @media screen and (max-width: 768px){
                    width: 100%;
                }
            }

            .description {
                width: 50%;
                text-align: left;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                @media screen and (max-width: 768px){
                    width: 100%;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-top: 30px;
                }

                p.text {
                    width: 80%;
                    margin-bottom: 15px;

                    @media screen and (max-width: 768px){
                        margin-bottom: 10px;
                    }

                    span.title {
                        font-family: "Signika-Regular";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: normal;
                        color: #EB5757;
                    }

                    span.name {
                        font-family: "Signika-Regular";
                        font-size: 14px;
                        font-style: normal;
                        font-weight: normal;
                        color: #4F4F4F;
                    }
                }
            }

            .buttons {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-direction: row;
                margin-top: 30px;

                a.button {
                    max-width: 150px;
                    width: 100%;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    align-content: center;
                    color: #FFF;
                    font-size: 16px;
                    text-align: center;
                    cursor: pointer;
                    font-family: "Signika-Regular";
                    font-weight: normal;
                    font-weight: 400;
                    outline: none;
                    background: linear-gradient(180deg, #A71810 0%, rgba(235, 49, 39, 0.980438) 22.4%, #D5221E 81.77%, rgba(233, 50, 40, 0.963542) 99.98%, rgba(124, 122, 122, 0.0275298) 99.99%, rgba(121, 124, 124, 0) 100%, #620E0A 100%);
                }
            }
        }

    }
}