.simulator {
  background-color: transparent;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: -1;  

  &--heightauto {
    height: auto;
    position: relative;
    z-index: 0;
    padding-bottom: 40px;
  }

  &__container {
    max-width: 1024px;
    width: 95%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  .form {
    min-width: 800px;

    @media screen and (max-width: 960px){
      min-width: 100%;
    }

    .steps {
      display: flex;
      justify-content: center;

      ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
        position: relative;
        width: 100%;

        &:before {
          content: '';
          height: 5px;
          background-color: #FFC0BE;
          width: 100%;
          top: 12px;
          left: 0;
          z-index: -1;
          position: absolute;
        }

        li {
          position: relative;
          
          &:last-child{
            margin-right: 0;
          }
        }

        .number {
          display: none;
        }

        a {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        span.icon {
          background-color: #FFC0BE;
          color: #FFF;
          width: 30px;
          height: 30px;
          border-radius: 100px;
          position: relative;
          cursor: pointer;
          font-family: "Roboto-Regular";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          display: block;
          padding-top: 4px;
          padding-left: 1px;
          margin-bottom: 10px;
          
        }

        p.title {
          font-family: "Signika-Regular";   
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 14px;
          color: #979797;

          @media screen and (max-width: 960px){
            display: none;
          }

          .br {
            display: block;

            @media screen and (max-width: 960px){
              display: none;
            }
          }

          span.desktop {
            display: inline;

            @media screen and (max-width: 960px){
              display: none;
            }
          }
        }

        span.info {
          background-color: #C4C4C4;
          color: #FFF;
          width: 12px;
          height: 12px;
          border-radius: 100px;
          position: absolute;
          cursor: pointer;
          top: 40px;
          right: -14px;

          @media screen and (max-width: 960px){
            display: none;
          }
    
          &:before {
            content: "!";
            font-family: "Roboto-Regular";
            font-size: 9px;
            position: absolute;
            top: 1px;
            left: 5px;
          }
        }
      }     
      
      .current {
        p.title {
          color: #50535A;          
          font-weight: 600;
          display: block;

          @media screen and (max-width: 960px){
            position: absolute;
            font-size: 12px;
            top: 37px;
            left: -19px;
            line-height: 14px;
            width: 67px;
          }
        }
        span.icon {
          background-color: #D5221E;
          
          &:before {
            background-color: #FFC0BE;
          }

          &--linesmall {
            &:before {
              width: 100px;
            }
          }

          &--noline {
            &:before {
              width: 0;
            }
          }
        }

        span.info {
          background-color: #686B6F;
        }
      }



    }

    .current-info {
      display: none;
    }

    .content {
      height: auto;
      position: relative;
      z-index: 1;

      h3.option {
        display: none;
      }

      .section {
        padding-top: 50px;
        max-width: 665px;
        width: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 960px){
          max-width: 100%;
        }
        
        &__row {
          text-align: left;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding-bottom: 24px;

          @media screen and (max-width: 960px){
            flex-direction: column;
            padding-bottom: 0;
          }

          &--bgred {
            background-color: #D5221E;
            border-radius: 10px;
            padding: 20px 16px;
            margin-bottom: 24px;
            display: flex;
            flex-direction: column;

            .section__column {
              width: 35%;

              @media screen and (max-width: 960px){
                width: 100%;                 
              }

              &--optionbuttom {
                width: 23%;
              }

              label.title {
                color:#FFF;
              }

              select.select {
                width: 190px;

                @media screen and (max-width: 960px){
                  width: 100%;                 
                }
              }

              input.text {
                width: 190px;

                @media screen and (max-width: 960px){
                  width: 100%;                 
                }
              }

              span.info {                
                right: 6px;
                background-color: #FFF;
                color:#D5221E;
              }

              span.info-mobile {
                background-color: #FFF;
                color:#D5221E;
              }

              span.red {
                color:#FFF;
              }
              

              .artifice {
                position: relative;
                
                &:before {
                  right: 44px;

                  @media screen and (max-width: 960px){
                    right: 15px;               
                  }
                }

                &:after {
                  right: 52px;

                  @media screen and (max-width: 960px){
                    right: 22px;               
                  }
                }
              }

              span.add {
                width: 130px;
                z-index: 20;
              }

            }
          }

          &--xsmall {
            justify-content: flex-start;

            @media screen and (max-width: 960px){
              flex-direction: row;
              padding-bottom: 0;
            }
          }

          &--files {
            flex-direction: column;

            .section__clone {
              margin-top: 10px;

              @media screen and (max-width: 960px){
                margin-top: 0;
              }

              &:first-child{
                margin-top: 0;
              }
            }
          }

          &--column {
            flex-direction: column;

            .section__clone {
              margin-top: 10px;

              @media screen and (max-width: 960px){
                margin-top: 0;
              }
              
              &:first-child{
                margin-top: 0;
              }
            }
          }
        }

        &__clone {
          text-align: left;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          margin-top: 10px;

          &:first-child {
            margin-top: 0;
          }

          @media screen and (max-width: 960px){
            flex-direction: column;
            padding-bottom: 0;
          }
        }

        &__column {
          width: 302px;
          flex-direction: column;
          position: relative;
          display: flex;
          align-content: center;
          justify-content: center;

          @media screen and (max-width: 960px){
            width: 100%;
            padding-bottom: 14px;
          }

          &--large {
            width: 100%;
          }

          &--ghost {
            visibility: hidden;
            
            @media screen and (max-width: 960px){
              display: none;
            }
          }
        }

        .artifice {
          position: relative;
          
          &:before {
            position: absolute;
            content: '';
            background-color: #0063AB;
            width: 3px;
            height: 13px;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            top: 13px;
            right: 43px;
            z-index: 2;
            background: #686B6F;
            mix-blend-mode: normal;

            @media screen and (max-width: 960px){
              right: 15px;
            }
          }
    
          &:after {
            position: absolute;
            content: '';
            background-color: #0063AB;
            width: 3px;
            height: 13px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            top: 13px;
            right: 50px;
            z-index: 2;
            background: #686B6F;
            mix-blend-mode: normal;
            @media screen and (max-width: 960px){              
              right: 22px;
            }
          }

          &--marginbottom {
            margin-bottom: 10px;
          }

          &--margintop {
            margin-top: 10px;
          }

          &--xsmall {
            width: 70px;            
            margin-right: 10px;

            @media screen and (max-width: 960px){
              width: 25%               
            }

            &:before {
              right: 15px;

              @media screen and (max-width: 960px){
                right: 15px;
              }
            }
    
            &:after {
              right: 23px;

              @media screen and (max-width: 960px){              
                right: 22px;
              }
            }
          }
        }

        .info {
          font-family: "Signika-Regular";
          font-style: normal;
          font-weight: normal;
          font-size: 12px;

          &--margintop {
            margin-top: 5px;
          }
        }

        input.text {
          background: #FFFFFF;
          border: 1px solid #D4D4D4;
          box-sizing: border-box;
          border-radius: 6px;
          color: #959595;
          width: 273px;
          display: block;
          height: 36px;
          font-size: 18px;
          font-family: "Signika-Regular";        
          font-weight: normal;
          padding-left: 10px;
          outline: none;
          position: relative;

          @media screen and (max-width: 960px){
            width: 100%;
          }

          &--large {
            width: 637px; 
            
            @media screen and (max-width: 960px){
              width: 100%;
            }
          }
        }

        select.select {
          background: #FFFFFF;
          border: 1px solid #D4D4D4;
          box-sizing: border-box;
          border-radius: 6px;
          color: #959595;
          width: 273px;
          display: block;
          height: 36px;
          font-size: 18px;
          font-family: "Signika-Regular";        
          font-weight: normal;
          padding-left: 10px;
          outline: none;
          position: relative;        
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;

          @media screen and (max-width: 960px){
            width: 100%;
          }

          &--xsmall {
            width: 70px;

            @media screen and (max-width: 960px){
              width: 100%               
            }
          }
        }
  
        textarea.text {
          background: #FFFFFF;
          border: 1px solid #D4D4D4;
          box-sizing: border-box;
          border-radius: 6px;
          color: #959595;
          width: 273px;
          display: block;
          font-size: 18px;
          font-family: "Signika-Regular";        
          font-weight: normal;
          padding-left: 10px;
          outline: none;
          resize: none;
          
          @media screen and (max-width: 960px){
            width: 100%;
          }
        }

        a.link {
          color: #1129FF;
          font-family: "Signika-Regular";
          text-decoration: underline;
          font-size: 16px;
          cursor: pointer;
          // margin-top: 26px;
        }

        span.alert {
          font-family: "Signika-Regular";  
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          background-color: rgba(212, 212, 212, 0.2);
          border-radius: 6px;
          color: #959595;
          padding: 5px;
          display: block;
          padding: 12px 15px;
        }

        label.title {
          font-family: "Signika-Regular";
          font-size: 14px;
          font-style: normal;
          font-weight: normal;  
          color: #333333;
          width: 100%;
          padding-bottom: 10px;
          display: block;
          outline: none;

          &--ghost {
            visibility: hidden;

            @media screen and (max-width: 960px){
              display: none;
            }
          }
        }

        span.info {
          background-color: #686B6F;
          color: #FFF;
          width: 18px;
          height: 18px;
          border-radius: 100px;
          position: absolute;
          cursor: pointer;
          top: 35px;
          right: 2px;

          @media screen and (max-width: 960px){
            display: none;
          }
    
          &:before {
            content: "!";
            font-family: "Roboto-Regular";
            font-size: 14px;
            position: absolute;
            top: 2px;
            left: 7.5px;
          }
        }

        span.info-mobile {
          background-color: #686B6F;
          color: #FFF;
          width: 15px;
          height: 15px;
          border-radius: 100px;
          position: relative;
          cursor: pointer;
          display: none;
          vertical-align: top;

          @media screen and (max-width: 960px){
            display: inline-block;
          }
    
          &:before {
            content: "!";
            font-family: "Roboto-Regular";
            font-size: 13px;
            position: absolute;
            top: 0px;
            left: 5.5px;
          }
        }

        span.add {
          font-family: "Signika-Regular";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          text-align: center;
          width: 143px;
          color: #FFF;
          background-color: #9C0000;
          border-radius: 5px;
          width: 273px;
          cursor: pointer;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;

          @media screen and (max-width: 960px){
            width: 100%;
          }
        }

        span.file {
          white-space: nowrap;
          overflow: hidden;
          background: #FFFFFF;
          border: 1px solid #D4D4D4;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-radius: 6px;
          color: #959595;
          width: 273px;
          display: block;
          height: 36px;
          font-size: 18px;
          font-family: "Signika-Regular";
          font-weight: normal;
          padding-left: 10px;
          outline: none;
          position: relative;

          @media screen and (max-width: 960px){
            width: 100%;
          }

          &--xsmall {
            width: 193px;

            @media screen and (max-width: 960px){
              width: 85%;
            }
          }

          .fake-input {
            display: inline-block;
            text-overflow: ellipsis;
            overflow: hidden;
            border-radius: 4px 0 0 4px;
            line-height: 35px;
            color: #959595;
            width: 156px;
            transition: all .2s linear;
            opacity: 0.8;
            font-size: 18px;
            
            @media screen and (max-width: 960px){              
              width: 60%;
              max-width: 60%;
            }

            @media screen and (max-width: 375px){              
              width: 60%;
              max-width: 207px;
            }

            @media screen and (max-width: 320px){              
              width: 60%;
              max-width: 175px;
            }

            &--xsmall {
              width: 77px;

              @media screen and (max-width: 960px){              
                width: 50%;
                max-width: 50%;
              }
              @media screen and (max-width: 411px){              
                width: 50%;
                max-width: 207px;
              }
  
              @media screen and (max-width: 320px){              
                width: 50%;
                max-width: 107px;
              }
            }

          }

          .upload-button {
            display: inline-block;
            vertical-align: top;
            white-space: nowrap;
            overflow: hidden;
            border-radius: 5px;
            margin: 0 0 0 -2px;
            line-height: 35px;
            color: #ffffff;
            background-color: #525252;
            transition: all .2s linear;
            font-size: 15px;
            padding: 0 11px;

            @media screen and (max-width: 960px){
              width: 40%;
              text-align: center;
              margin: 0;
            }

            &--xsmall {
              @media screen and (max-width: 960px){
                width: 50%;
                text-align: center;
                margin: 0;
              }
            }
          }

          .real-element {
            position: absolute;
            font-size: 200px;
            height: 200px;
            margin: 0;
            right: 0;
            top: 0;
            color: #959595;
            opacity: 0.8;
          }

          &--large {
            width: 635px;

            @media screen and (max-width: 960px){              
              width: 100%;
            }

            .fake-input {
              width: 518px;

              @media screen and (max-width: 960px){              
                width: 60%;
                max-width: 60%;
              }

              @media screen and (max-width: 375px){              
                width: 60%;
                max-width: 207px;
              }
  
              @media screen and (max-width: 320px){              
                width: 60%;
                max-width: 175px;
              }
            }           
          }
        }

        .red {
          color:#EB5757;
        }
      }
    }

    .actions {
      display: flex;


      ul {
        li{
          a {
            width: 190px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            align-content: center;
            color: #FFF;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
            font-family: "Signika-Regular";
            font-weight: normal;
            font-weight: 400;
            outline: none;
            background: linear-gradient(180deg, #A71810 0%, rgba(235, 49, 39, 0.980438) 22.4%, #D5221E 81.77%, rgba(233, 50, 40, 0.963542) 99.98%, rgba(124, 122, 122, 0.0275298) 99.99%, rgba(121, 124, 124, 0) 100%, #620E0A 100%);
          }

          &:first-child {
            display: none;
          }
        }
      }
    }
  }

  h1.title {
    font-size: 44px;
    font-family: "Signika-Regular";
    color: #50535A;
    font-weight: 600;
    padding-bottom: 30px;
    max-width: 720px;
    position: relative;

    @media screen and (max-width: 960px){
      font-size: 28px;
      max-width: 538px;
    }

    span.info {
      background-color: #686B6F;
      color: #FFF;
      width: 25px;
      height: 25px;
      border-radius: 100px;
      position: relative;
      cursor: pointer;
      display: inline-block;

      @media screen and (max-width: 960px){
        width: 22px;
        height: 22px;
      }

      &--absolute {
        position: absolute;
        right: 0;
        top: 40px;

        @media screen and (max-width: 960px){
          position: relative;
          right: 0;
          top: 0;
        }
      }

      &:before {
        content: "!";
        font-family: "Roboto-Regular";
        font-size: 16px;
        position: absolute;
        top: 4px;
        left: 10.5px;

        @media screen and (max-width: 960px){          
          top: 2px;
          left: 9px;
        }
      }
    }
  }

  span.br {
    display: block;
  }
  
}  